.Head {
    width : 100%;
    height: 25em;
    text-align: center;
    background-color: #74dbef ;
    position: relative;
}
.headImage {
    margin-top: 2% ;
}
.Body {    
    width: 66%;
    top: 25%;
    right: 18%;
    background-color: #eff0f4;
    position: absolute;
}
.userImage {
    width : 14% ;
    margin-top: 2% ;
}
.Body h2 {
    font-size: 2em ;
    font-family: 'Arial Black';
    text-transform: uppercase ;
}
.Textfield{
    margin: 1.5em ;
    line-height: 2em ;
}
.LoginBtn Button {
    border: 1px solid ;
    width: 40% ;  
    height: 48px;
    font-size: 20px ;
    margin-bottom: 1em ;
    border-bottom-left-radius: 5em ;
    border-bottom-right-radius: 5em ;
    border-top-right-radius: 5em ;
    border-top-left-radius: 5em ;
    background-color: white ;
}