.Head {
    width : 100%;
    height: 25em;
    text-align: center;
    background-color: #74dbef ;
    position: relative;
}
.headImage {
    margin-top: 2% ;
}
.Body {
    width : 50% ;
    top: 25%;
    right: 25%;
    text-align: center ;
    background-color: #eff0f4 ;
    position: absolute ;
}
.userImage {
    width : 14% ;
    margin-top: 2% ;
}
.Body h2 {
    font-size: 1em ;
    font-family: 'Arial Black';
    text-transform: uppercase ;
}
.Textfield{
    margin: 0.5em;
    line-height: 2em ;
}
.LoginBtn Button {
    border: 1px solid ;
    width: 40% ;  
    height: 48px;
    margin-bottom: 1em ;
    border-bottom-left-radius: 5em ;
    border-bottom-right-radius: 5em ;
    border-top-right-radius: 5em ;
    border-top-left-radius: 5em ;
    background-color: white ;
}
.SignupBtn h3, .SignupBtn Button {
    display: inline-block;
}
.SignupBtn Button {
    border: 1px solid ;
    width: 20% ;
    height: 41px;
    background-color: white;
    border-bottom-left-radius: 1em ;
    border-bottom-right-radius: 1em ;
    border-top-right-radius: 1em ;
    border-top-left-radius: 1em ;
    margin-left: 2%;
    margin-bottom: 1%;
}