.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* first page */
.App {
  text-align: center;
}
.ImageDiv {
  margin-top: 20% ;
}
/* End first page */

.paper {
  width : 15% ;
  height: 100em !important;
  float: left;
  margin-right: 0 ;
}
.paperHead {
  text-align: center ;
  line-height: 5em ;
}
.paperHead h2 {
  background-color: #74dbef;
  color: white;
  margin-top: 0 ;
  line-height: 1em ;
  font-family: 'Arial Black';
}
.appBar {
  width: 85% ;
  float: right ;
}
.appBar Toolbar {
  line-height: 4em ;
  font-family: 'Arial Black';
}
.LogoutButton {
  position: absolute;
  right: 2em ;
}
.LogoutButton Button {
  font-size: 20px ;
}
.setTable {
  width: 80%;
  margin-left: 9%;
  line-height: 4em ;
  float: right;
  position: absolute;
  top: 20%;
  left: 8%;
}
.bar {
  position: fixed;
  width: 75% ;
  right: 6% ;
}
.bodyPaper {
  position: fixed;
  top: 22% ;
  left: 19% ;
  width: 75%; 
}
.SteppersButton {
  position: fixed;
  bottom: 7%;
  right: 4%;
}
.TextFieldPaper {
  margin-left: 2em ;
  margin-bottom: 2em ; 
}
.NextBtn {
  border: 1px solid black;
  padding: 1em;
  background-color: lightskyblue;
  color: white;
  font-size: 17px;
}
.inputSet TextField {
  padding-right: 20em;
}
.PatientForm {
  position: absolute;
  width: 80%;
  top: 11%;
  left: 18%;
  font-family: Arial Black;
  text-align: center;
  background-color: #ececeb ;
}
.PatientForm h2{
  padding-left: 1%;
  display: inline-block;
}
.PatientForm i {
  padding-top: 1%;
}
.PatientForm TextField {
  width : 25% ;
}
.radioBtn label {
  margin-left: 0;
  margin-right: 0;
}
.alignField {
  padding-top: 3%;
  padding-left: 6em;
}
.alignField FormControl {
  display: inline-block;
}
.loaderClass {
  justify-content: 'center';
  align-content: 'center';
  text-align: center;
  position: absolute;
  right: 53%;
}

@media Screen and (min-Width: 993)
{
  .ImageDiv{
    margin-top: 12em ;
  }
  .userImage {
    width : 10%;
    margin-top: 2% ;
  }
  .Body h2 {
    font-size: 2em ;
  }
  .Textfield 
  {
    width : 100% ;
  }
  .leftDiv {
    position: relative;
    width : 30% ;
  }
  .rightDiv {
    position: absolute;
    width : 70% ;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
